CompileFlags:
  Add: [-IC:\Users\colbykids\.jdks\corretto-1.8.0_382\include, -IC:\Users\colbykids\.jdks\corretto-1.8.0_382\include\win32, -IC:\Program Files\Amazon Corretto\jdk1.8.0_282\include, -IC:\Program Files\Amazon Corretto\jdk1.8.0_282\include\win32, -Iinclude, -Isrc, -std=c++20]
